// addon colors

// table
html
  height: 100%
body
  background-color: $body-bg
  font-size: 14px
  line-height: 24px
  position: relative
  height: 100%
  overflow-x: hidden
  +transition(linear all 400ms);
  &.open
    .navbar 
      left: 280px;
    &:before
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      z-index: 4;
hr
  margin-top: 8px
  margin-bottom: 8px

  // sidebar & content
.content-area
  padding: 82px 30px 30px 30px
  height: 100%
.title
  padding-bottom: 10px
  margin-bottom: 20px
  border-bottom: 1px solid $border-title
  position: relative
  width: 100%
  &:after
    content: ""
    width: 30px
    height: 1px
    background-color: $red
    position: absolute
    left: 0
    bottom: -1px
  h2
    color: $red
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
  i
    color: $theme
    position: absolute
    top: 0
    right: 0
.box-wrapper
  background-color: $white
  padding: 30px
  box-shadow: $shadow-header
  width: 100%
  height: 76vh
  .inner-wrapper
    height: 100%
    overflow: auto
.user
  .pict
    width: 40px
    height: 40px
    border: 2px solid $red
    border-radius: 100px
    margin-right: 10px
    .pict-inner
      border: 1px solid $white
      width: 36px
      height: 36px
      border-radius: 100px
      overflow: hidden
      img
        max-width: 100%
  .desc
    padding-top: 3px
    p
      margin-bottom: 0
      line-height: 18px
      &:nth-child(2)
        font-size: 12px
        color: $text-grey-light
.detail-row
  display: none !important
#piechart 
  rect
    fill: none !important