.navbar-mobile
    display: none
    @media(max-width: 1024px)
        width: 100px
        display: block
        position: absolute
        top: 8px
        right: 4px
    .navbar-nav
        display: block
        .nav-item
            display: inline-block
            margin: 0 0 0 10px
.mobile-menu
    @media(max-width: 1024px)
        display: block !important;
        width: 280px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 99;
        background-color: white !important;
        +transition(linear all 400ms);
        padding-top: 80px
    .navbar-nav
        @media(max-width: 1024px)
            width: 100%;
            height: 100%;
            flex-direction: column;
            margin-bottom: 59px;
            margin-top: 0;
            margin-right: 0;
            padding: 30px 20px;

        li
            @media(max-width: 1024px)
                display: block;
                margin-right: 0;
                margin-top: 10px;
            a
                @media(max-width: 1024px)
                    display: block;
                    padding: 10px 20px;
        .navbar-item
            @media(max-width: 1024px)
                padding-left: 15px;
            &:last-child
                @media(max-width: 1024px)
                    border-bottom: none;

.navbar
    @media(max-width: 1024px)
        background-color: white !important;
        padding: 10px 0;
    .js-mobile-button
        @media(max-width: 1024px)
            display: block !important;
            position: absolute;
            left: 10px;
            top: 50%;
            +translateY(-50%);
            padding: 4px;
        &:focus
            outline: none

.content-area
    @media(max-width: 1024px)
        margin-left: 0;

.navbar-brand
    @media(max-width: 1024px)
        width: auto;
        text-align: left;
        background-color: white !important;
        padding: 0;
        margin-left: 70px !important;
body
    &.open
        .mobile-menu
            +transition(linear all 400ms);
            left: 0;


