<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="./dist/images/redback-logo.png" alt=""></a>
  <button class="navbar-toggler js-mobile-button">
    <span ><i class="material-icons">menu</i></span>
  </button>
	<div class="navbar-mobile">
		<ul class="navbar-nav">
	      <li class="nav-item">
	        <div class="notification">
	        	<div class="notif-count">
	        		2
	        	</div>
	        	<i class="material-icons">email</i>
	        </div>
	      </li>
	      <li class="nav-item">
	        <div class="notification">
	        	<div class="notif-count">
	        		11
	        	</div>
	        	<i class="material-icons">notifications</i>
	        </div>
	      </li>
	    </ul>
	</div>
  <div class="collapse navbar-collapse mobile-menu js-mobile-menu" id="navbar-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-primary btn-sm" href="#"><i class="material-icons">web_asset</i> DAM</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-danger btn-sm" href="#">Back to AMP</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-success btn-sm" href="#"><i class="material-icons">add</i> Add Resource</a>
      </li>
      <li class="nav-item">
        <div class="notification">
        	<div class="notif-count">
        		2
        	</div>
        	<i class="material-icons">email</i>
        </div>
      </li>
      <li class="nav-item">
        <div class="notification">
        	<div class="notif-count">
        		11
        	</div>
        	<i class="material-icons">notifications</i>
        </div>
      </li>
      <li class="nav-item">
        <div class="user d-flex">
        	<div class="pict">
        		<div class="pict-inner">
        			<img src="./dist/images/dwimini.png" alt="user">
        		</div>
        	</div>
        	<div class="desc">
        		<p><strong>Dwi Jhon</strong></p>
        		<p>Customer</p>
        	</div>
        </div>
      </li>
    </ul>
  </div>
</nav>