{% extends "layout.html" %}
	{% block content %}
		{% include "header.html" %}
		<div class="digital-event">
			<div class="container-fluid">
				<div class="row">
					<div class="title d-flex">
						<h2 class="mr-auto">DIGITAL EVENT USAGE REPORTS</h2>
						<i class="material-icons">menu</i>
					</div>
					<div class="box-wrapper">
						<div class="inner-wrapper">
							<div class="tabel-resonsive">
								<table class="table table-event">
								  <thead>
								    <tr>
								      <th scope="col">Event ID</th>
								      <th scope="col">Event Date</th>
								      <th scope="col">Event Time</th>
								      <th scope="col">Event Title</th>
								      <th scope="col">Action</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>11:00 am AEDT</td>
								      <td>Make 2019 Rock: Tips for Planning Your DigitalEvent Programs</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#"  data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>12:00 am AEDT</td>
								      <td>How Fb Ads Help local business to Grow u</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#"  data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>09:00 am AEDT</td>
								      <td>Participating in the Trillion Dollar Marketplace: The Growth of Aussie E-commerce</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#"  data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>10:00 am AEDT</td>
								      <td>Make 2019 Rock: Tips for Planning Your Digital Event Programs</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#"  data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>13:00 am AEDT</td>
								      <td>How to get More Job on Internet Using Social Media</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#"  data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
								    <tr>
								      <td>12345</td>
								      <td>23rd October 2018</td>
								      <td>11:00 am AEDT</td>
								      <td>Bost your Internet Marketing with Fb ads.Mkv</td>
								      <td>
								      	<a href="#" data-toggle="modal" data-target="#previewModalCenter"><i class="material-icons">remove_red_eye</i></a>
								      	<a href="#" data-toggle="modal" data-target="#editModalCenter"><i class="material-icons">edit</i></a>
								      	<a href="#" data-toggle="modal" data-target="#snapShotModalCenter"><i class="material-icons">camera_alt</i></a>
								      	<a href="#" data-toggle="modal" data-target="#reportModalCenter"><i class="material-icons">pie_chart</i></a>
								      </td>
								    </tr>
									
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Edit -->
		<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="action-content">
		        	<div class="row">
		        		<div class="col-md-4">
		        			<div class="title-event">
		        				<h2><i class="material-icons">today</i> Upcoming Event</h2>
		        			</div>
		        			<div class="content-event">
		        				<p>Participating in the Trillion Dollar Marketplace: The Growth of Aussie E-commerce</p>
		        				<p class="text-danger mb-0">Tuesday 23rd October 2018</p>
		        				<p class="text-danger mb-0">11:00 am - 11:45 am AEDT</p>
		        				<ul class="list-unstyled">
		        					<li><a href="#"><i class="material-icons">web</i> View / Edit Registration Page</a></li>
		        					<li><a href="#"><i class="material-icons">email</i> View / Edit Invitation Email</a></li>
		        					<li><a href="#"><i class="material-icons">email</i> View / Edit Confirmation Email</a></li>
		        					<li><a href="#"><i class="material-icons">email</i> View / Edit Remainder Email</a></li>
		        					<li><a href="#"><i class="material-icons">email</i> View / Edit Recording Email</a></li>
		        				</ul>
		        			</div>
		        		</div>
		        		<div class="col-md-8">
		        			<div class="title-event">
		        				<h2><i class="material-icons">today</i> List of Resource</h2>
		        			</div>
		        			<div class="content-event">
		        				<ul class="list-unstyled striped resource">
		        					<li><a href="#"><i class="material-icons">slideshow</i> Bost your Internet Marketing with Fb ads.PPTx</a></li>
		        					<li><a href="#"><i class="material-icons">picture_as_pdf</i> How Fb Ads Help local business to Grow up.PDF</a></li>
		        					<li><a href="#"><i class="material-icons">music_video</i> Bost your Internet Marketing with Fb ads.MP3</a></li>
		        					<li><a href="#"><i class="material-icons">play_circle_outline</i> Bost your Internet Marketing with Fb ads.Mkv</a></li>
		        					<li><a href="#"><i class="material-icons">picture_as_pdf</i> How Fb Ads Help local business to Grow up.PDF</a></li>
		        				</ul>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger btn-md"><i class="material-icons">add</i> Add Resource</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal Preview -->
		<div class="modal fade" id="previewModalCenter" tabindex="-1" role="dialog" aria-labelledby="previewModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="action-content">
		        	<div class="row">
		        		<div class="col-md-4">
		        			<div class="title-event">
		        				<h2><i class="material-icons">today</i> Upcoming Event</h2>
		        			</div>
		        			<div class="content-event">
		        				<p>Participating in the Trillion Dollar Marketplace: The Growth of Aussie E-commerce</p>
		        				<p class="text-danger mb-0">Tuesday 23rd October 2018</p>
		        				<p class="text-danger mb-0">11:00 am - 11:45 am AEDT</p>
		        				<a href="#" class="btn btn-primary btn-md mt-4">Edit event</a>
		        			</div>
		        		</div>
		        		<div class="col-md-4">
		        			<div class="title-event">
		        				<h2><i class="material-icons">data_usage</i> Progress</h2>
		        			</div>
		        			<div class="content-event">
								<div class="chart-skill mt-4">
									<svg class="circle-chart" viewbox="-20 0 70.83098862 70.83098862" xmlns="http://www.w3.org/2000/svg" alignment-baseline="central">
								      <circle class="circle-chart__background" stroke="#F2F4F8" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <circle class="circle-chart__circle" stroke="#244BBC" stroke-width="2" stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <g class="circle-chart__info">
								        <text class="circle-chart__percent" x="16.91549431" y="18.6" alignment-baseline="central" text-anchor="middle" font-size="8" fill="#244BBC">75%</text>
								      </g>
								    </svg>
								</div>
		        			</div>
		        		</div>
		        		<div class="col-md-4">
		        			<div class="title-event">
		        				<h2><i class="material-icons">event_note</i> Event Status</h2>
		        			</div>
		        			<div class="row no-gutters">
		        				<div class="col-4">
		        					<div class="status-reg d-flex align-items-center">
		        						<div class="text-center">
		        							<p>122</p>
		        							<span>Registratoins</span>
		        						</div>
		        					</div>
		        				</div>
		        				<div class="col-8">
									<div class="status-user">
										<div class="user d-flex mb-4">
								        	<div class="pict">
								        		<div class="pict-inner">
								        			<img src="./dist/images/female-17.png" alt="user">
								        		</div>
								        	</div>
								        	<div class="desc">
								        		<p><strong>Sarah Gonzales</strong></p>
								        		<p>Customer</p>
								        	</div>
								        </div>
								        <div class="user d-flex">
								        	<div class="pict">
								        		<div class="pict-inner">
								        			<img src="./dist/images/female-18.png" alt="user">
								        		</div>
								        	</div>
								        	<div class="desc">
								        		<p><strong>Dwi Jhon</strong></p>
								        		<p>Customer</p>
								        	</div>
								        </div>
									</div>

		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-success btn-md mr-4">Event Inspiration</button>
		        <button type="button" class="btn btn-danger btn-md">Download Regos</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal Event Report -->
		<div class="modal fade" id="reportModalCenter" tabindex="-1" role="dialog" aria-labelledby="reportModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="action-content">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="title-event">
		        				<h2><i class="material-icons">data_usage</i> Report</h2>
		        			</div>
		        			<div class="row">
		        				<div class="col-md-4">
		        					<div class="content-event">
		        						<a class="download-button">
		        							<span class="icon"><i class="material-icons">move_to_inbox</i></span>
		        							<span class="btn btn-success btn-md">Download Full PDF Report</span>
		        						</a>
		        					</div>
		        				</div>
		        				<div class="col-md-4">
		        					<div class="content-event">
				        				<ul class="list-unstyled report-list">
				        					<li>
				        						<span><i class="material-icons">person</i></span> 
					        					<p>Live Attendance vs Registrations</p>
					        					<ul class="list-unstyled">
					        						<li><a href="#" class="text-primary">Download PDF</a></li>
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
					        				</li>
				        					<li>
				        						<span><i class="material-icons">people</i></span> 
				        						<p>Live Attendance vs On Demand</p>
				        						<ul class="list-unstyled">
					        						<li><a href="#" class="text-primary">Download PDF</a></li>
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
				        					</li>
				        					<li>
				        						<span><i class="material-icons">show_chart</i></span> 
				        						<p>Concurrent Views + Drop Offs</p>
				        						<ul class="list-unstyled">
					        						<li><a href="#" class="text-primary">Download PDF</a></li>
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
				        					</li>
				        				</ul>
				        			</div>
		        				</div>
		        				<div class="col-md-4">
		        					<div class="content-event">
				        				<ul class="list-unstyled report-list">
				        					<li>
				        						<span><i class="material-icons">devices</i></span> 
					        					<p>Joining Device</p>
					        					<ul class="list-unstyled">
					        						<li><a href="#" class="text-primary">Download PDF</a></li>
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
					        				</li>
				        					<li>
				        						<span><i class="material-icons">person_add</i></span> 
				        						<p>Referrer Trafic</p>
				        						<ul class="list-unstyled">
					        						<li><a href="#" class="text-primary">Download PDF</a></li>
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
				        					</li>
				        					<li>
				        						<span><i class="material-icons">bar_chart</i></span> 
				        						<p>Polling</p>
				        						<ul class="list-unstyled">
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
				        					</li>
				        					<li>
				        						<span><i class="material-icons-outlined">chat</i></span> 
				        						<p>Polling</p>
				        						<ul class="list-unstyled">
					        						<li><a href="#" class="text-danger">Download CSV</a></li>
					        					</ul>
				        					</li>
				        				</ul>
				        			</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal Spanpshot -->
		<div class="modal fade" id="snapShotModalCenter" tabindex="-1" role="dialog" aria-labelledby="snapShotModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="action-content">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="title-event">
		        				<h2><i class="material-icons">photo_camera</i> Event Snapshot</h2>
		        			</div>
		        			<div class="row">
		        				<div class="col-md-4">
		        					<div class="content-event">
		        						<div class="snaphot-wrapper">
		        							<div class="snapshot-content">
		        								<svg viewBox="0 0 64 64" class="pie">
												  <circle r="25%" cx="50%" cy="50%" style="stroke-dasharray: 46 100" >
												  </circle>
	        										<g class="circle-chart__info">
	        											<text class="circle-chart__percent" x="12" y="-31" alignment-baseline="central" text-anchor="left" font-size="6" fill="#ffffff">54%</text>
												    </g>
												    <g class="circle-chart__info">
												        <text class="circle-chart__percent" x="42" y="-31" alignment-baseline="central" text-anchor="right" font-size="6" fill="#ffffff">46%</text>
												    </g>
	        									</svg>
	        									<div class="chart-desc">
	        										<ul class="list-unstyled">
	        											<li>Attend</li>
	        											<li>Not Attend</li>
	        										</ul>
	        									</div>
		        							</div>
		        							<a href="#" class="btn btn-warning btn-md">Live Attendence</a>
		        						</div>
		        					</div>
		        				</div>
		        				<div class="col-md-4">
		        					<div class="content-event">
		        						<div class="snaphot-wrapper">
		        							<div class="snapshot-content">
		        								<p>27.8</p>
		        								<span>Minutes</span>
		        							</div>
		        							<a href="#" class="btn btn-primary btn-md">Average Duration - Minutes</a>
		        						</div>
				        			</div>
		        				</div>
		        				<div class="col-md-4">
		        					<div class="content-event">
		        						<div class="snaphot-wrapper">
		        							<div class="snapshot-content">
		        								<p>12</p>
		        								<span>Question</span>
		        							</div>
		        							<a href="#" class="btn btn-danger btn-md">Question Asked</a>
		        						</div>
				        			</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>
		  </div>
		</div>
	{% endblock %}