.btn
  padding: 10px 15px
  border: none
  cursor: pointer
  font-weight: 400
  &.btn-primary
    background-color: $theme
  &.btn-danger
    background-color: $red
  &.btn-black
    background-color: $black
    color: $white
  &.btn-success
    background-color: $green
    color: $white
  &.btn-info
    background-color: $info
    color: $white
  &.btn-blue
    background-color: $blue
    color: $white
  &.btn-default
    background-color: $default
    color: $black
  &.btn-warning
    background-color: $orange
    color: $white
  &.disabled
    background-color: $text-grey-light
  &.rounded
    border-radius: 90px !important
  &:hover
    border: none
  &.btn-md
    padding: 8px 15px
    &.btn-wide
      padding-left: 35px
      padding-right: 35px
  &.btn-sm
    padding: 6px 15px
    &.btn-wide
      padding-left: 35px
      padding-right: 35px

  & 
    i
      vertical-align: middle
      margin-left: -10px
      font-size: 18px
