.navbar
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 5
	height: 60px
	min-height: auto
	padding-left: 30px
	padding-right: 30px
	box-shadow: $shadow-header
	+transition(linear all 400ms)
	&.bg-light
		background-color: $white !important
	.navbar-nav
		align-items: center
		.nav-item
			margin-left: 30px
			vertical-align: middle
			.notification
				position: relative
				.notif-count
					position: absolute
					top: 0
					right: -4px
					font-size: 10px
					color: $white
					border-radius: 180px
					background-color: $red
					width: 18px
					height: 18px
					text-align: center
					line-height: 18px
				i
					color: $text-grey
					font-size: 32px
					line-height: 40px
	#navbar-menu
		.navbar-nav
			@media(max-width: 1024px)
				display: block
			.nav-item
				@media(max-width: 1024px)
					display: block
					margin-left: 0
					&:nth-child(4), &:nth-child(5)
						display: none
				&:last-child
					@media(max-width: 1024px)
						position: absolute
						top: 0
						left: 0
						width: 100%
						padding: 20px 30px