.modal
  height: inherit
  .modal-dialog
    &.modal-xl
      max-width: 97%
      @media(max-width: 1440px)
        max-width: 96%
    .modal-content
      border: none
      border-radius: 0
      .modal-header
        border-bottom: none
        margin-bottom: 0
        padding-top: 12px
        padding-bottom: 5px
        .close
          opacity: 1
          padding: 0
          margin-top: 0
          margin-right: 0
      .modal-body
        padding: 0 30px 0 30px
        .content-event
          ul
            &.download-list
              margin: 0
              li
                display: inline-block
                padding: 0
                margin-right: 10px
                margin-top: 10px
                &:last-child
                  margin-right: 0
                a
                  font-size: 12px
                  font-weight: 500
                  padding: 0
          .chart-skill
            height: 180px
            overflow: hidden
          @media(max-width: 1024px)
            margin-bottom: 30px
        .action-content
          @media(max-width: 1024px)
            margin-bottom: 20px
          .title-event
            margin-bottom: 30px
            @media(max-width: 480px)
              margin-bottom: 15px
            h2
              font-size: 18px
              font-weight: 500
              margin: 0
              @media(max-width: 480px)
                font-size: 16px
              i
                color: $red
                font-size: 20px
                margin-right: 8px
                vertical-align: middle
          ul
            margin-top: 30px
            margin-bottom: 0
            li
              margin-bottom: 10px
              a
                position: relative
                display: block
                padding-left: 30px
                i
                  position: absolute
                  top: 1px
                  left: 0
                  color: $red
                  font-size: 22px
            &.striped
              margin-top: 0
              li
                margin-bottom: 0
                &:nth-child(odd)
                  background-color: $bg-list
                a
                  padding: 8px 5px 8px 40px
                  i
                    top: 9px
                    left: 10px
            &.resource
              li
                a
                  color: black
            &.report-list
              margin: 0
              li
                padding-left: 55px
                position: relative
                span
                  display: block;
                  width: 40px
                  height: 40px
                  border-radius: 400px
                  position: absolute
                  top: 2px
                  left: 0
                  background-color: $red-rgba
                  padding: 8px
                  i
                    color: $red
                p
                  margin-bottom: 0
                  font-size: 16px
                  font-weight: 500
                ul
                  margin: 0
                  li
                    display: inline-block
                    padding: 0
                    margin-right: 10px
                    &:last-child
                      margin-right: 0
                    a
                      font-size: 12px
                      font-weight: 500
                      padding: 0
          
          .status-user
            background-color: $bg-user-status
            padding: 37px 30px
          .status-reg
            background-color: $red
            color: $white
            height: 100%
            > div
              width: 100%
              text-align: center
              p
                font-size: 48px
                margin-bottom: 0
                line-height: 48px
                font-weight: 500
                @media(max-width: 480px)
                  font-size: 30px
              span
                display: block
                text-transform: uppercase
                font-size: 12px
                margin-top: 0px
                @media(max-width: 480px)
                  font-size: 10px
          .download-button
            background-color: $bg-list
            border-radius: 6px
            overflow: hidden
            position: relative
            width: 100%
            max-width: 344px
            min-height: 247px
            display: block
            cursor: pointer
            .icon
              width: 96px
              height: 96px
              border-radius: 700px
              background-color: $green-rgba
              position: absolute
              top: 50%
              left: 50%
              margin-top: -65px
              margin-left: -48px
              i
                color: $green
                font-size: 48px
                position: absolute
                top: 50%
                left: 50%
                +translate(-50%, -50%)
            .btn
              position: absolute
              left: 0
              bottom: 0
              width: 100%
              border-radius: 0
              display: block
          .snaphot-wrapper
            background-color: $bg-list
            border-radius: 3px
            overflow: hidden
            position: relative
            min-height: 247px
            display: block

            .snapshot-content
              width: 100%
              position: absolute
              top: 30%
              left: 50%
              +translate(-50%, -30%)
              text-align: center
              p
                font-size: 48px
                color: $red
                margin-bottom: 0
                line-height: 48px
                font-weight: 700
                @media(max-width: 480px)
                  font-size: 30px
              span
                font-size: 12px
                font-weight: 500
                text-transform: uppercase
                @media(max-width: 480px)
                  font-size: 10px
            .btn
              position: absolute
              left: 0
              bottom: 0
              width: 100%
              border-radius: 0
              display: block
            .pie
              width: 160px;
              background: $red;
              border-radius: 50%;
              +rotate(-90deg)
              circle
                fill: none;
                stroke: $theme;
                stroke-width: 32;
              .circle-chart__info
                .circle-chart__percent
                  +rotate(88deg)
            .chart-desc
              position: absolute
              right: 15px
              bottom: -15px
              ul
                margin-bottom: 0
                li
                  margin: 0
                  text-align: left
                  font-size: 12px
                  line-height: 18px
                  position: relative
                  padding-left: 20px
                  &:before
                    content: ""
                    width: 12px
                    height: 12px
                    border-radius: 300px
                    position: absolute
                    top: 2px
                    left: 0
                    background-color: $red
                  &:last-child
                    &:before
                      background-color: $theme
      .modal-footer
        padding: 0 30px 30px 30px
        border-top: none
        &.mt-100
          margin-top: 100px
        &.mt-50
          margin-top: 50px
        .btn
          margin: 0