.table
  min-width: 1024px
  &.table-event
    > thead
      > tr
        > th
          border-top: none
          border-width: 1px
          border-bottom-color: $border-table
          color: $table-th
          font-size: 14px
          text-transform: uppercase
          &:first-child
            width: 120px
          &:last-child
            text-align: center
          &:nth-child(4)
            width: 435px
    >tbody
      > tr
        > td
          border-top-color: $border-table-td
          font-size: 14px
          vertical-align: middle
          &:first-child
            color: $theme
            width: 120px
          &:nth-child(2)
            width: 166px
          &:nth-child(3)
            width: 160px
          &:nth-child(4)
            font-weight: 500
          &:last-child
            text-align: center
            @media(max-width: 1280px)
              width: 200px;
            > a
              display: inline-block
              font-size: 18px
              color: $red
              margin-right: 50px
              &:last-child
                margin-right: 0
              @media(max-width: 1440px)
                margin-right: 30px
              @media(max-width: 1366px)
                margin-right: 20px
              @media(max-width: 1280px)
                margin-right: 15px
        &:first-child
          td
            border-top-color: $border-table
